header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.nav-title{
    font-weight: 700;
    font-size: 2.8rem;
    color: #131113;
}


nav{
    display: flex;
    justify-content: space-between;
}

nav > ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
   font-weight: 500;
   font-size: 1rem;
}
nav a {
    text-decoration: none;
    color: #424242;
}